<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      Welcome, <%= username %>. <a href="/login/logout">Log out</a>
    </header>

    <% for (let i = 0; i < photos.length; i++) { %>
      <a href="/photos/<%= photos[i].id %>/"><img src="<%= photos[i].url %>" /></a>
    <% } %>

  </body>
</html>
