<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if (username == 'sonyl') { %>
      Welcome <%= username %>.
    <% } else { %>
      Not authorized
    <% } %>

  </body>
</html>
